@media only screen and (min-width: 768px) {
    .show_all {
        display: flex;
    }
    .swiper-pagination {
        display: none;
    }
    #toggleButton {
        display: flex;
    }
    .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 20px;
    }
}


@media only screen and (min-width: 1120px) {
    .swiper-pagination {
        display: none;
    }
    #toggleButton {
        display: flex;
    }
    .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 15px;
    }
}

